@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.section {
  padding-block: var(--section-space);
  background: #fff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: end;
  margin-bottom: 1.75rem;
}

.grid {
  display: grid;
  gap: 1rem;
  align-items: stretch;

  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include desktop {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.item {
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    flex: 1 1 auto;
    height: 100%;
  }
}
